<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List | Simpler application</title>
  </head>
  <body>
    <h1>Simpler framework at work! Question#show</h1>

    <p>Params are: <%= @params %></p>
  </body>
</html>
